---
import AllPosts from "src/components/AllPosts.astro";
import Tags from "src/components/Tags.astro";

import Wrapper from "src/layouts/Wrapper.astro";

const pageTitle = "Blog";
---

<Wrapper title={pageTitle}>
  <h3 class="text-3xl font-bold break-all py-2">All Posts</h3>
  <Tags className="py-3" />
  <AllPosts />
</Wrapper>
