@import url("./fonts.css");
@import url("./hamburgers.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* rgb(251 253 252) */
    --background: 251 253 252;
    /* rgb(210 210 210) */
    --foreground: 210 210 210;
    /* rgb(9 9 11) */
    --primary: 9 9 11;
    /* rgb(168 85 247) */
    --primary-foreground: 168 85 247;
  }
  .dark {
    /* rgb(33 39 55) */
    --background: 33 39 55;
    /* rgb(33 39 55) */
    --foreground: 0 0% 98%;
    /* rgb(250 250 250) */
    --primary: 250 250 250;
    /* rgb(249 95 22) */
    --primary-foreground: 249 115 22;
  }
  body {
    @apply bg-background text-primary;

    /* font-family: "Ubuntu", system-ui, sans-serif; */
    /* font-family: "IBM Plex Mono", monospace; */
    font-family: "Satoshi", sans;
  }
}
