---
import ButtonLink from "src/components/ButtonLink.astro";
interface Props {
  pages: { [key: string]: string };
  socials: { [key: string]: string };
}
const { pages, socials } = Astro.props;
---

<div class="text-end">
  <div class="">
    <button
      class="hamburger hamburger--vortex sm:hidden"
      aria-label="Open Menu"
      aria-expanded="false"
      aria-controls="menu-items"
      type="button"
    >
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
    <ul
      id="menu-items"
      class="hidden flex-col items-center justify-center sm:flex"
    >
      {
        Object.entries(pages).map(([label, href]) => {
          return (
            <li>
              <ButtonLink
                href={href}
                title={label}
                className="text-sm px-5 py-1"
              >
                {label}
              </ButtonLink>
            </li>
          );
        })
      }
    </ul>
  </div>
</div>
<style></style>
<script>
  function toggleNav() {
    const menuBtn = document.querySelector(".hamburger");
    const menuItems = document.querySelector("#menu-items");

    menuBtn?.addEventListener("click", () => {
      const menuExpanded = menuBtn.getAttribute("aria-expanded") === "true";
      menuBtn?.classList.toggle("is-active");
      menuBtn.setAttribute("aria-expanded", menuExpanded ? "false" : "true");
      menuBtn.setAttribute(
        "aria-label",
        menuExpanded ? "Open Menu" : "Close Menu"
      );
      menuItems?.classList.toggle("hidden");
    });

    document.addEventListener("click", e => {
      if (
        menuItems &&
        menuBtn &&
        menuItems?.classList.contains("flex") &&
        !menuItems.contains(e.target as Node) &&
        !menuBtn.contains(e.target as Node)
      ) {
        menuItems?.classList.replace("flex", "hidden");
        menuBtn?.classList.toggle("is-active");
      }
    });
  }

  toggleNav();

  document.addEventListener("astro:after-swap", toggleNav);
</script>
