---
import ButtonLink from "src/components/ButtonLink.astro";
import Icon from "src/components/Icon.astro";
interface Props {
  socials: {
    tg: string;
    gmail: string;
    github: string;
  };
}

const { socials } = Astro.props;
---

<div class="group relative">
  <span
    class="opacity-100 transition-opacity duration-300 group-hover:opacity-0"
  >
    Social Links <span>{"> > >"}</span>
  </span>
  <ul
    class="absolute top-0.5 flex items-center justify-center gap-2
     opacity-0 transition-opacity duration-300 group-hover:opacity-100"
  >
    {
      Object.entries(socials).map(([label, href]) => (
        <li>
          <ButtonLink
            href={href}
            className="hover:fill-primary-foreground hover:rotate-12 fill-primary"
          >
            <Icon icon={label} />
          </ButtonLink>
        </li>
      ))
    }
  </ul>
</div>
