---
import ButtonLink from "src/components/ButtonLink.astro";

type Props = {
  pages: { [key: string]: string };
  activeNav?: string;
};

const { pages, activeNav } = Astro.props;
---

<>
  {
    Object.entries(pages).map(([label, href]) => {
      return (
        <li class="hover:text-primary-foreground m-auto">
          <ButtonLink
            href={href}
            ariaLabel={label}
            title={label}
            className={`text-center ${activeNav === label ? "underline  underline-offset-[6px]" : ""}`}
          >
            {label}
          </ButtonLink>
        </li>
      );
    })
  }
</>
