---
import ButtonLink from "src/components/ButtonLink.astro";
interface Props {
  pages: { [key: string]: string };
}
const { pages } = Astro.props;
---

<>
  {
    Object.entries(pages).map(([label, href]) => {
      return (
        <li class="hover:text-primary-foreground m-auto">
          <ButtonLink
            href={href}
            ariaLabel={label}
            title={label}
            className="text-center"
          >
            {label}
          </ButtonLink>
        </li>
      );
    })
  }
</>
