---
import { getCollection } from "astro:content";
import Wrapper from "src/layouts/Wrapper.astro";

const pageTitle = "Blog";
const allPosts = await getCollection("posts");
---

<Wrapper title={pageTitle}>
  <h1>Blog</h1>
  <ul>
    {
      allPosts.map((post) => (
        <a href={"/posts/" + post.slug}>{post.data.title}</a>
      ))
    }
  </ul>
</Wrapper>
