---
import About from "src/components/About.astro";
import AllPosts from "src/components/AllPosts.astro";
import Tags from "src/components/Tags.astro";
import Wrapper from "src/layouts/Wrapper.astro";
const pageTitle = "xexex98's blog";
---

<Wrapper title={pageTitle}>
  <About />
  <Tags />
  <div class="text-right pb-2">
    <a
      href="/posts"
      class="text-sm underline decoration-dashed underline-offset-4 hover:opacity-50"
    >
      All Posts
    </a>
  </div>
  <AllPosts />
</Wrapper>
