---
import About from "src/components/About.astro";
import AllPosts from "src/components/AllPosts.astro";
import ButtonLink from "src/components/ButtonLink.astro";
import Tags from "src/components/Tags.astro";
import Wrapper from "src/layouts/Wrapper.astro";
const pageTitle = "xexex98's blog";
---

<Wrapper title={pageTitle}>
  <About />
  <div class="py-2">
    <Tags />
  </div>
  <div class="flex justify-end pb-2">
    <ButtonLink
      href="/posts"
      label="All Posts"
      aClass="text-sm underline decoration-dashed underline-offset-4"
    />
  </div>
  <AllPosts />
</Wrapper>
