---
import Hello from "src/components/Hello.astro";
---

<Hello />
<p>
  I am a Front End Developer with over 3 years of experience in Internet. I'm
  currently working with React and Astro. Outside of work, I enjoy reading
  books, playing sports, and learning some programming things.
</p>
