---
interface Props {
  href: string;
  label: string;
  aClass?: string;
}

const { href, label, aClass = "" } = Astro.props;
---

<a class={`hover:opacity-50 hover:scale-105 ${aClass} `} href={href}>
  {label}
</a>
