---
const messages = ["Hej", "Hallo", "Hola", "Habari", "Hello", "Привет", "Hi"];
const randomMessage = () =>
  messages[Math.floor(Math.random() * messages.length)];
---

<div class="flex gap-1 py-2">
  <h3 class="text-3xl font-bold">
    <span class="text-purple-500">{randomMessage()}</span>, I'm Arkady!
  </h3>
</div>
