---
import Link from "src/img/svg/link.svg?raw";
const { post } = Astro.props;
---

<a href={"/posts/" + post.slug}>
  <article>
    <div
      class="flex items-center justify-between p-6 bg-white border border-gray-200 rounded-lg shadow-sm transform transition duration-300 ease-in-out hover:shadow-md hover:scale-[1.005] hover:translate-x-1 overflow-hidden"
    >
      <div class="overflow-hidden">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">
          {post.data.description}
        </h5>
        <p class="mb-2 text-sm text-gray-500">
          Published on {post.data.pubDate.toString().slice(0, 10)}
        </p>
        <p
          class="text-gray-700 overflow-hidden text-ellipsis whitespace-nowrap"
        >
          {post.data.description}
        </p>
      </div>
      <div>
        <Fragment set:html={Link} />
      </div>
    </div>
  </article>
</a>
