---
import { getCollection } from "astro:content";

const allPosts = await getCollection("posts");

const uniqueTags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
---

<ul class="flex gap-2 flex-wrap">
  {
    uniqueTags.map((tag) => {
      return (
        <li class="tag px-2 py-0.5 rounded">
          <a href={`/posts/${tag}`}>{tag}</a>
        </li>
      );
    })
  }
</ul>

<script>
  document.addEventListener(
    "astro:page-load",
    () => {
      const colors = [
        "bg-red-500",
        "bg-yellow-500",
        "bg-green-500",
        "bg-blue-500",
        "bg-indigo-500",
        "bg-purple-500",
        "bg-pink-500",
        "bg-lime-500",
        "bg-rose-500",
        "bg-gray-500",
        "bg-amber-500",
        "bg-cyan-500",
        "bg-teal-500",
        "bg-zinc-500",
        "bg-sky-500",
        "bg-violet-500",
        "bg-fuchsia-500",
        "bg-indigo-500",
      ];

      function getRandomColorClass() {
        const randomIndex = Math.floor(Math.random() * colors.length);
        return colors[randomIndex];
      }
      const tags = document.querySelectorAll(".tag");
      tags.forEach((item) => item.classList.add(getRandomColorClass()));
    },
    { once: false },
  );
</script>
