---
import { getCollection } from "astro:content";

const allPosts = await getCollection("posts");

const uniqueTags = [...new Set(allPosts.map((post) => post.data.tags).flat())];

---

<div class="flex gap-2 py-2">
  {
    uniqueTags.map((tag) => {
      return (
        <a class="p-1 bg-gray-100 italic" href={`/tags/${tag}`}>
          {tag}
        </a>
      );
    })
  }
</div>
